*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
}

.main{
    background-color: #3F51B5;
    }
button{
    outline: none;
    border: none;
}
.btns{
    text-align: center;
    padding: 7px 0 7px 0;
    width: 75%;
    background-color: #3C4680;
    color: white;
    
}
.btns:hover{
    border-radius: 12px;
    background-color: green;
    color: black;
}